<app-recbody></app-recbody>

<div class="container d-flex justify-content-center align-items-center mt-5 text-light h5">
    <div class="border border-warning-subtle p-5 rounded-5">
        <p class="fade-in text-center h1 text-warning">YumTastic!</p>
        <p class="fade-in"> We believe that cooking should be both fun and flavorful, and that's why we've curated a
            mouthwatering collection of recipes to suit every taste and occasion.</p>
        <p class="fade-in"> Whether you're craving hearty comfort
            food, seeking healthy meal ideas, or looking to impress your dinner guests with gourmet delights, we've got
            you covered.</p>
        <p class="fade-in"> Our team of passionate food enthusiasts is dedicated to sharing the best recipes, tips, and
            tricks to help you unleash your inner chef.</p>
        <p class="fade-in">But <span class="text-warning">YumTastic</span> is more than just a recipe website; it's a
            thriving community of food lovers from all walks of life.</p>
        <p class="fade-in"> Join our community to connect with like-minded
            individuals, share your culinary creations, and discover new favorite recipes.</p>
        <p class="fade-in"> You can also personalize your
            YumTastic experience by saving your favorite recipes, creating custom recipe collections, and even
            contributing your own recipes to our growing database.</p>
        <p class="fade-in">Whether you're a seasoned home cook or a kitchen newbie,
            <span class="text-warning">YumTastic</span> is here to inspire and empower you on your culinary journey.
        </p>
        <p class="fade-in"> So come on in, explore our
            virtual
            kitchen, and let's embark on a delicious adventure together!</p>
    </div>
</div>