@import "../../cardstyle.scss";

.ingdetails {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;

}

.ingdetails::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: -1;
}

.list-group-item {
  background-color: rgba(34, 40, 49, 0.5);
}

.scrollable-list {
  max-height: 300px;
  overflow-y: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.fadeIn {
  animation-name: fadeIn;
}