<app-recbody></app-recbody>

<div class="container mt-4 d-flex justify-content-center align-items-center">

    <select class="form-select form-select-lg mb-2 text-center w-50 card-bg text-light rounded-4 "
        aria-label="Large select example" (change)="DisplayRec($event)">
        <option value="" disabled selected>Choose a recipe</option>
        <option value="Pizza">Pizza</option>
        <option value="Chicken">Chicken</option>
        <option value="Steak">Steak</option>
        <option value="Seafood">Seafood</option>
        <option value="Pasta">Pasta</option>
        <option value="Salad">Salad</option>
    </select>

</div>

<div class="container text-center mt-2">
    <div class="row">

        <div *ngFor="let recipe of recipesobj" class="col-sm-6 col-md-4 col-lg-3 p-3 rounded-4 card-animation">
            <div class="card p-2 rounded-4 text-light card-bg position-relative">
                <div class="card-body">
                    <p class="card-text h6">{{recipe?.publisher}}</p>
                    <img [src]="recipe?.image_url" class="card-img-top p-2 rounded-5 rec-img photo-animation" alt="...">
                    <p class="card-title mb-2">{{recipe?.title}}</p>
                    <button class="btn btn-outline-warning rounded-5"
                        (click)="getingredients(recipe.recipe_id)">Ingredients</button>
                    <a class="btn rounded-5 position-absolute top-0 end-0 m-2"
                        [ngClass]="{'btn-outline-warning': !checkFavorite(recipe), 'btn-warning': checkFavorite(recipe)}"
                        (click)="toggleFavorite(recipe)">
                        <i class="fa fa-solid fa-star"></i>
                    </a>
                </div>
            </div>
        </div>


    </div>

    <div class="ingdetails position-fixed d-flex align-items-center justify-content-center mt-5 rounded-5"
        [style.backgroundImage]="'url(' + (ingimg || '') + ')'"
        [ngClass]="{'d-none': !showIngredientDetails, 'animated fadeIn': showIngredientDetails}">
        <div class="inglist text-center">
            <div class="ingbody">
                <h3 class="text-light my-2">Ingredients</h3>
                <ul class="list-group list-group-flush scrollable-list rounded-5">
                    <li *ngFor="let ingredient of ingredientsobj" class="list-group-item text-light">{{ingredient}}</li>
                </ul>
                <button class="btn btn-danger rounded-5 my-2" (click)="closeIngredients()">Close</button>
            </div>

        </div>
    </div>

</div>