
.recbody {
    z-index: -2;
    background: #faf3f1 url(../../assets/images/main-bg8.jpg);
    background-size: cover;
  
  }
  
  
  .recbody::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
  